.container {
  width: 400px;
  margin: 20px auto;
}

h1{
  font-size: 16px;
  padding-bottom: 35px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

.words{
  height: 100px;
  width: 600px;
  font-size: 30px;
  .word{
    height: 150px;
    width: 800px;
    background-color: $white;
    margin: 0 0 50px 25px;
    border-radius: 25px 25px;
    list-style: none;
    position: relative;
    .en{
      font-size: 30px;
      padding:15px;
      color: $black;
    }
    .etranslation{
      @include button (#564c46);
      margin: 0 5px 0 15px;
      padding: 3px 5px;
    }
    .partofspeech{
      @include button (#564c46);
      margin: 0 5px 0 15px;
      padding: 3px 5px;
    }
    .ja{
      font-size: 15px;
    }
    .del{
      @include button ($red);
      position: absolute;
      right: 20px;
      top: 100px;
    }
    .show{
      @include button ($red);
      position: absolute;
      right: 20px;
      top:20px;
    }
    .edit{
      @include button ($red);
      position: absolute;
      right: 20px;
      top:60px;
    }
  }
}

.header-menu {
  font-size: 20px;
  font-weight: normal;
  float: right;
  padding-right: 20px;
  margin-bottom: 20px;
}

input[type="text"]{
  box-sizing: border-box;
  width:400px;
  padding:5px;
}
