@mixin btn_a ($color){
  height: 30px;
  width: 120px;
  text-align: center;
  background-color: $color;
  border-radius: 4px;
  color: white;
  font-size: 15px;
}

@mixin btn_b($height, $width){
  position: relative;
  height: $height;
  width: $width;
  top:15px;
  right:20px;
  font-weight: normal;
  border: solid#3B90DC;
  border-radius: 25px 25px;
  float: right;
}